#!/usr/bin/make -f
# -*- makefile -*-

export SHELL=/bin/bash
export MOZCONFIG=$(shell pwd)/debian/mozconfig
export MOZ_NOSPAM:=1
export MOZ_SOURCE_REPO=https://github.com/WaterfoxCo/Waterfox
export MOZ_SOURCE_CHANGESET=$(shell awk -F ': ' '/^commit:/ {print $$2; exit}' ../SOURCES/waterfox-g-kpe.obsinfo)
export WF_VERSION=$(shell awk -F ': ' '/^version:/ {print "G"$$2; exit}' ../SOURCES/waterfox-g-kpe.obsinfo)
export TODAY_DATE=$(shell date +%Y-%m-%d)
export LC_ALL=C.UTF-8

LDFLAGS += -Wl,--no-keep-memory -Wl,--no-mmap-output-file

distrelease := $(shell lsb_release -sc)
ifeq ($(distrelease),$(filter $(distrelease),stretch xenial))
LDFLAGS += -static-libstdc++
endif

export LDFLAGS

export JOBS=$(shell echo $(shell grep -c ^processor /proc/cpuinfo)\/2 | bc)

export MACH_BUILD_PYTHON_NATIVE_PACKAGE_SOURCE=system

export DEB_BUILD_MAINT_OPTIONS = optimize=-lto

%:
	dh $@

override_dh_auto_configure:

override_dh_auto_clean:
	dh_auto_clean
	find . -name '*.pyc' -delete

override_dh_auto_build:
	$$(pwd)/debian/build.sh

override_dh_auto_install:
	chmod +x $$(pwd)/debian/waterfox-g-bin.sh
	DESTDIR=$$(pwd)/debian/waterfox-g-kpe ./mach install
	rm -rf $$(pwd)/debian/waterfox-g-kpe/usr/lib/waterfox-g/dictionaries
	rm -rf $$(pwd)/debian/waterfox-g-kpe/usr/lib/waterfox-g/waterfox-g-bin
	sed -i "s/__DATE__/$$TODAY_DATE/g" $$(pwd)/debian/waterfox-g.appdata.xml.in
	sed -e "s/__VERSION__/$$WF_VERSION/g" $$(pwd)/debian/waterfox-g.appdata.xml.in > $$(pwd)/debian/waterfox-g-kpe/usr/share/metainfo/waterfox-g.appdata.xml
	mv $$(pwd)/debian/waterfox-g-wayland-bin.sh $$(pwd)/debian/waterfox-g-wayland/usr/bin/waterfox-g-wayland

override_dh_shlibdeps:
	dh_shlibdeps -l /usr/lib/waterfox-g/waterfox-g

override_dh_strip_nondeterminism:
	dh_strip_nondeterminism -Xdebian/waterfox-g-kpe/usr/lib/waterfox-g/browser/features/formautofill@mozilla.org.xpi
