#!/usr/bin/make -f
# -*- makefile -*-

export MOZ_NOSPAM=1
export MOZ_BUILD_DATE=20191005114658
export MOZ_SOURCE_REPO="https://github.com/MrAlex94/Waterfox"
export MOZ_SOURCE_CHANGESET=150863514609c2e46596b6706b4f777b56e44a0a

%:
	dh $@

override_dh_auto_clean:
	rm -f .mozconfig
	dh_auto_clean
	find . -name '*.pyc' -delete

override_dh_auto_configure:
	cp debian/mozconfig mozconfig

override_dh_auto_build:
	# LTO needs more open files
	ulimit -n 4096; xvfb-run -a -n 97 -s "-screen 0 1600x1200x24" ./mach build

override_dh_auto_install:
	chmod +x $$(pwd)/debian/waterfox-current-bin.sh
	DESTDIR=$$(pwd)/debian/waterfox-current-kde ./mach install
	rm -rf $$(pwd)/debian/waterfox-current-kde/usr/lib/waterfox-current/dictionaries

override_dh_shlibdeps:
	dh_shlibdeps -l /usr/lib/waterfox-current/waterfox-current

override_dh_builddeb:
	dh_builddeb -- -Z xz

override_dh_strip_nondeterminism:
	dh_strip_nondeterminism -Xdebian/waterfox-current-kde/usr/lib/waterfox-current/browser/features/formautofill@mozilla.org.xpi
