<!doctype html>
<!-- The Time Machine GitHub pages theme was designed and developed by Jon Rohan, on Feb 7, 2012. -->
<!-- Follow him for fun. http://twitter.com/jonrohan. Tail his code on https://github.com/jonrohan -->
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{ '/assets/js/script.js' | relative_url }}"></script>

{% seo %}
  <meta name="description" content="{{ site.description | default: site.github.project_tagline }}">

  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>

  <div class="wrapper">
    <header>
      <h1 class="title">{{ site.title | default: site.github.repository_name }}</h1>
    </header>
    <div id="container">
      <p class="tagline">{{ site.description | default: site.github.project_tagline }}</p>
      <div id="main" role="main">
        <div class="download-bar">
        <div class="inner">
          <a href="https://github.com/hawkeye116477/waterfox-deb" class="code">View {{ site.title | default: site.github.repository_name }} on GitHub</a>
        </div>
        <span class="blc"></span><span class="trc"></span>
        </div>
        <article class="markdown-body">
<h1 id="installing">Installing</h1>
<p>Download packages from this links:</p>
<p> waterfox, waterfox-kde & locales: <a href='https://bintray.com/hawkeye116477/waterfox-deb/waterfox/_latestVersion'><img src='https://api.bintray.com/packages/hawkeye116477/waterfox-deb/waterfox/images/download.svg'></a></p>
<p> kwaterfoxhelper: <a href='https://bintray.com/hawkeye116477/waterfox-deb/kwaterfoxhelper/_latestVersion'><img src='https://api.bintray.com/packages/hawkeye116477/waterfox-deb/kwaterfoxhelper/images/download.svg'></a></p>
<p> or go to <a href="https://bintray.com/hawkeye116477/waterfox-deb/waterfox#read">https://bintray.com/hawkeye116477/waterfox-deb/waterfox#read</a> to get instructions how to add this apt repository.</p>
<h1 id="notifications">Getting automatic notifications about new versions of packages</h1>
<p> waterfox, waterfox-kde & locales: <a href='https://bintray.com/hawkeye116477/waterfox-deb/waterfox?source=watch' alt='Get automatic notifications about new "waterfox" versions'><img src='https://www.bintray.com/docs/images/bintray_badge_color.png'></a></p>
<p> kwaterfoxhelper: <a href='https://bintray.com/hawkeye116477/waterfox-deb/kwaterfoxhelper?source=watch' alt='Get automatic notifications about new "kwaterfoxhelper" versions'><img src='https://www.bintray.com/docs/images/bintray_badge_bw.png''></a></p>
        </article>
      </div>
    </div>
    <footer>
      <div class="owner">
      {% if site.github.is_project_page %}
      <p><a href="{{ site.github.owner_url }}" class="avatar"><img src="{{ site.github.owner_gravatar_url }}" width="48" height="48"></a> <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a> maintains <a href="{{ site.github.repository_url }}">{{ site.title | default: site.github.repository_name }}</a></p>
      {% endif %}

       {% if site.github.is_user_page %}
      <p><a href="{{ site.github.owner_url }}" class="avatar"><img src="{{ site.github.owner_gravatar_url }}" width="48" height="48"></a>View <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a> on <a href="https://www.github.com">GitHub</a></p>
      {% endif %}

      </div>
      <div class="creds">
        <small>This page generated using <a href="https://pages.github.com/">GitHub Pages</a><br>theme by <a href="https://twitter.com/jonrohan/">Jon Rohan</a></small>
      </div>
    </footer>
  </div>
  <div class="current-section">
    <a href="#top">Scroll to top</a>
    <p class="name"></p>
  </div>
</body>
</html>
